body{
	background-color: #87CEFA;
}

div{
	background-color: #F4F4F4;
	width: 300px;
	padding: 20px 20px 20px
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 3px 3px 3px blue;
}

.lbl{
	color: #191970;
	font-family: Tahoma;
	text-shadow: 1px 1px 1px green;
}

.pax{
	color: #20B2AA;
	font-size: 16px;
	border: solid 2px #191970;
	border-radius: 10px;
	box-shadow: 3px 3px 3px gray;
	padding: 2px 5px 2px 8px;
}